Checks: '
  cppcoreguidelines-*,
  performance-*,
  modernize-*,
  google-*,
  misc-*
  cert-*,
  readability-*,
  clang-analyzer-*,
  -performance-unnecessary-value-param,
  -modernize-use-trailing-return-type,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -readability-braces-around-statements,
  -google-readability-braces-around-statements,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -readability-named-parameter,
  -readability-identifier-length,
  -cert-env33-c
  '
